* {
    font-family: 'Montserrat', 'Gill Sans', sans-serif;
    font-size: 15px;
}

*:focus {
    outline: none;
}

html {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-note {
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    margin-top: 1.5em;
    padding: 0.6em 1.7em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.add-note:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 5em 10em 6em;
}

.note {
    display: flex;
    flex-direction: column;
    justiy-content: space-between;
    margin: 0.5em 0;
}

.note-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.6em;
}

.button-delete {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em 0.7em;
    border-top-right-radius: 0.2em;
    border: none;
    cursor: pointer;
}

i {
    background-color: transparent;
    color: #ffffff;
}

.note-title {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5em 0.5em;
    border: none;
    border-top-left-radius: 0.2em;
    color: #ffffff;
}

.note-text {
    background-color: rgba(245, 245, 245, 0.6);
    padding: 0.5em 0.5em;
    border: none;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    color: rgba(0, 0, 0, 0.7);
}

input::placeholder {
    color: #ffffff;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.4);
}